/* Empty. Add your own CSS if you like */

.ionic-body {
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: #000;
  word-wrap: break-word;
  font-size: 14px;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none;
}

.menu .scroll-content {
  z-index: 10;
  background-color: #000;
}

.item {
  border-color: #262626;
  background-color: #000;
  color: #FFF;
  position: relative;
  z-index: 2;
  display: block;
  margin: -1px;
  padding: 16px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
}

.item-icon-left {
  padding-left: 54px;
}

a.item {
  color: #FFF;
  text-decoration: none;
}

.bar.bar-positive {
  border-color: #2c77a4;
  background-color: #2c77a4;
  color: #fff;
  border-bottom:1px solid #fff;
} 

.item-icon-left .icon, .item-icon-right .icon {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 25px;
  color:#2c77a4;
}

.bar.bar-stable {
  border-color: #2c77a4;
  background-color: #2c77a4;
  color: #fff;
}

.bar-stable .button.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #FFF;
  font-size: 17px;
}

.bar.bar-stable .title {
  color: #FFF;
}


a, button, :focus, a:focus, button:focus, a:active, a:hover {
  outline: 0;
  background-color:#999;
}

.home {
	background-color:#000;
	padding:20px;
	color:#FFF;
	text-align:center;
	height:auto;
	overflow: hidden;
	height:700px;
	background-image:url(../images/hyprop.png);
	background-position:bottom;
	}
	
.home-logo {
	border:2px solid #fff;
	margin-bottom:20px;
	margin-top:70px;
	}