<ion-view view-title="Annual Reports">
  <ion-content>
<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#">
        2015
      </a>
      <a class="tab-item" href="#">
        2014
      </a>
      <a class="tab-item" href="#">
        2013
      </a>
    </div>
  </div>
<div class="card">
  <div class="item item-avatar">
  <img src="images/pdf.png">
    <h2>Integrated report online</h2>
    <p>Release date: 23 November 2014</p>
  </div>
 
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-code-download"></i>
      Download
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-eye"></i>
      View
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>
</div>

<div class="card">
  <div class="item item-avatar">
  <img src="images/pdf.png">
    <h2>Notice of AGM</h2>
    <p>Release date: 23 November 2014</p>
  </div>
 
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-code-download"></i>
      Download
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-eye"></i>
      View
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>
</div>



  </ion-content>
</ion-view>