<ion-view view-title="Annual Reports">
  <ion-content>
  <input type="date"/>
<div class="card">
  <div class="item item-avatar">
    <h2>Integrated report 2015</h2>
    <p>Release date: 23 November 2014</p>
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>
</div>
<div class="card">
  <div class="item item-avatar">
    <h2>Integrated report 2014</h2>
    <p>Release date: 23 November 2014</p>
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>
  
</div>
  </ion-content>
</ion-view>