<ion-view view-title="Financial Calendar">
  <ion-content>
  <div class="card">
  <div class="item item-avatar">
<table width="100%" border="0">
  <tbody>
    <tr class="trselected">
      <td><strong>30 June 2015</strong><br>
Financial year-end</td>
      <td align="center"><i class="icon ion-calendar"></i>
        </ion-item></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td align="center">&nbsp;</td>
    </tr>
    <tr class="trselected">
      <td><strong>1  September 2015</strong><br>
        Publication of financial results <br></td>
      <td align="center"><i class="icon ion-calendar"></i>
        </ion-item></td>
      </tr>
    <tr>
      <td>&nbsp;</td>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td><strong>30 November 2015</strong><br>
        Annual general meeting <br></td>
      <td align="center"><i class="icon ion-calendar"></i>
        </ion-item></td>
      </tr>
  </tbody>
</table>
  </div>
 
</div>
  </ion-content>
</ion-view>