  <ion-view view-title="Home">
  <ion-content>
    <div class="home">
  <div>
    <p align="center">
    <div>
    <img src="images/hyprop_logo.png" width="150px" alt=""/ class="home-logo">
    </div>
  </p>
    <br>
    <div class="homeoverlay">
    <span class="shareprice">SHARE PRICE</span><br><br>
    <span class="sharepricetext">12491 ZAR cents </span><br>
    <span class="smalltext">Change: -1.65 (15 minute delayed feed)</span>
  </div>
    </div>
  </div>
</div>
  </ion-content>
  </ion-view>
