  <ion-view view-title="Home">
  <ion-content>
  <div class="row">
  <div class="col">
   <div class="border">
  <div class="black">
    <div align="center"> <img src="images/hyprop_logo.png" width="150px" alt=""/> 
    </div>
    </div>
   </div>
     </div>
   </div>
  </div>
  <div class="row">
  <div class="col">
   <div class="border">
  <div class="block1">
  <span class="block">
  CEO INTERVIEW
  </span>
    </div>
    </div>
    </div>
  <div class="col">
   <div class="border">
  <div class="block2">
    <span class="block">
  LATEST NEWS
  </span>
    </div>
    </div>
   </div>
  </div>
  <div class="row">
  <div class="col">
      <div class="border">
  <div class="block3">
    <span class="block">
  SHAREPRICE PRICE
  </span>
    </div>
    </div>
   </div>
  </div>
  </ion-content>
  </ion-view>
