<ion-view view-title="Press Releases">
<ion-content>
<ion-tabs>

<ion-tab title="2015">
<!-- Tab 1 content -->
</ion-tab>

<ion-tab title="2014">
<!-- Tab 2 content -->
</ion-tab>

<ion-tab title="2013">
<!-- Tab 3 content -->
</ion-tab>

</ion-tabs>

<div class="list card">

    <div class="item item-avatar item-text-wrap">
    <p class="dates">23 FEB 2015</p>
      Hyprop continues sustainable distribution growth
      </div>

      <div class="item item-avatar item-text-wrap">
    <p class="dates">23 FEB 2015</p>
      Hyprop continues sustainable distribution growth
      </div>
    </div>

<div ng-repeat="pressrelease in pressreleases" style="background-color:#FFF; padding:10px;">
  <span style="color:#0B7DDB; font-size:14px;">{{pressrelease.title}}</span><br/>
  <span>{{pressrelease.pubDate}}</span><br/><br/>
</div>
<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
  <div class="tabs">
    <a class="tab-item active" href="#">
      2015
    </a>
    <a class="tab-item" href="#">
      2014
    </a>
    <a class="tab-item" href="#">
      2013
    </a>
  </div>
</div>

  <!-- <div class="list card">

    <div class="item item-avatar">
      <h2>Hyprop continues sustainable distribution growth</h2>
      <p>23 FEB 2015</p>
    </div>

    <div class="item item-body">
      <p>
        Reporting healthy growth in returns, Hyprop Investments Limited ("Hyprop") (JSE: HYP) today announced an interim dividend of 262.7 cents per share for the six months to December 2014, up 13.7% on December 2013. Distribution growth was driven by a strong performance across the Hyprop portfolio.

      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-document"></i>
          View
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>

    <div class="list card">

      <div class="item item-avatar">
        <h2>Hyprop continues sustainable distribution growth</h2>
        <p>23 FEB 2015</p>
      </div>

      <div class="item item-body">
        <p>
          Reporting healthy growth in returns, Hyprop Investments Limited ("Hyprop") (JSE: HYP) today announced an interim dividend of 262.7 cents per share for the six months to December 2014, up 13.7% on December 2013. Distribution growth was driven by a strong performance across the Hyprop portfolio.

        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-document"></i>
            View
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            Comment
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Share
          </a>
        </div>

      </div> -->
    </ion-content>
  </ion-view>






</ion-content>
</ion-view>
