<ion-view view-title="Press Releases">
<ion-content>
<ion-tabs>

<ion-tab title="2015">
<!-- Tab 1 content -->
</ion-tab>

<ion-tab title="2014">
<!-- Tab 2 content -->
</ion-tab>

<ion-tab title="2013">
<!-- Tab 3 content -->
</ion-tab>

</ion-tabs>

<ul class="list">
    <li class="item">
        <p>23 February 2015</p>
        <h3>Hyprop continues sustainable distribution growth</h3>
    </li>
    <li class="item">
        <p>02 December 2014</p>
        <h3>Hyprop debuts on the jse's sri index</h3>
    </li>
    <li class="item">
        <p>10 November 2014</p>
        <h3>Clearwater mall goes green with solar energy</h3>
    </li>
    <li class="item">
        <p>02 December 2014</p>
        <h3>Posting of notice of annual general meeting</h3>
    </li>
    <li class="item item-text-wrap">
        <p>02 December 2014</p>
        <h3>Hyprop concludes rosebank mall redevelopment with woolies opening</h3>
    </li>

</ul>



    </ion-content>
  </ion-view>






</ion-content>
</ion-view>
