<ion-view view-title="Press Releases">
<ion-content>
<ion-tabs>
<!-- <ion-tab title="2015">
<ion-nav-view>
<div ng-repeat="pressrelease in pressreleases | listfilter:2015">
  <a ng-href={{pressrelease.link.toString()}}>{{pressrelease.title.toString()}}</a><br/>
  <span>{{pressrelease.pubDate.toString()}}</span><br/><br/>
</div>
</ion-nav-view>
</ion-tab> -->
<ion-tab title="2014">
<ion-nav-view>
<div ng-repeat="pressrelease in pressreleases | listfilter:2014" style="border: 2px solid #a1a1a1;
    padding: 10px; 
    margin: 10px 5px 10px 5px;
    background: #dddddd;
    border-radius: 5px;">
<div ng-click="showDetails = ! showDetails">
  <span>{{pressrelease.title.toString()}}</span><br/>
  <span>{{pressrelease.pubDate.toString()}}</span>
</div>
<div class="procedure-details" ng-show="showDetails">
<span>{{pressrelease.description.toString()}}</span>
</div>
</div>
</ion-nav-view>
</ion-tab>
<ion-tab title="2013">
<ion-nav-view>
<div ng-repeat="pressrelease in pressreleases | listfilter:2013" style="border: 2px solid #a1a1a1;
    padding: 10px; 
    margin: 10px 5px 10px 5px;
    background: #dddddd;
    border-radius: 5px;">
<div ng-click="showDetails = ! showDetails">
  <span>{{pressrelease.title.toString()}}</span><br/>
  <span>{{pressrelease.pubDate.toString()}}</span>
</div>
<div class="procedure-details" ng-show="showDetails">
<span>{{pressrelease.description.toString()}}</span>
</div>
</div>
</ion-nav-view>
</ion-tab>
<ion-tab title="2012">
<ion-nav-view>
<div ng-repeat="pressrelease in pressreleases | listfilter:2012" style="border: 2px solid #a1a1a1;
    padding: 10px; 
    margin: 10px 5px 10px 5px;
    background: #dddddd;
    border-radius: 5px;">
<div ng-click="showDetails = ! showDetails">
  <span>{{pressrelease.title.toString()}}</span><br/>
  <span>{{pressrelease.pubDate.toString()}}</span>
</div>
<div class="procedure-details" ng-show="showDetails">
<span>{{pressrelease.description.toString()}}</span>
</div>
</div>
</ion-nav-view>
</ion-tab>
<!-- <ion-tab title="2010">
<ion-nav-view>
<div ng-repeat="pressrelease in pressreleases | listfilter:2010">
  <a ng-href={{pressrelease.link.toString()}}>{{pressrelease.title.toString()}}</a><br/>
  <span>{{pressrelease.pubDate.toString()}}</span><br/><br/>
</div>
</ion-nav-view>
</ion-tab> -->
</ion-tabs>

<!-- <ul class="list">
    <li class="item">
        <p>23 February 2015</p>
        <h3>Hyprop continues sustainable distribution growth</h3>
    </li>
    <li class="item">
        <p>02 December 2014</p>
        <h3>Hyprop debuts on the jse's sri index</h3>
    </li>
    <li class="item">
        <p>10 November 2014</p>
        <h3>Clearwater mall goes green with solar energy</h3>
    </li>
    <li class="item">
        <p>02 December 2014</p>
        <h3>Posting of notice of annual general meeting</h3>
    </li>
    <li class="item item-text-wrap">
        <p>02 December 2014</p>
        <h3>Hyprop concludes rosebank mall redevelopment with woolies opening</h3>
    </li>
</ul> -->
</ion-content>
</ion-view>
