<ion-view view-title="Share Information">
  <ion-content>
  <div class="content">
  <strong>SHARE PRICE</strong>
<div class="sharepricefeed">12250 ZAR cents</div> 
Change: 0.00
(15 minute delayed feed)
<br><br>
 <div align="center"> 
 Zoom<br><br>
 <button class="button button-small">
  1D
</button>
<button class="button button-small">
  2H
</button>
<button class="button button-small">
  1H
</button>
</div>
  </div>
    <highchart id="chart1" config="config"></highchart>
    <br/>
    <ui-gmap-google-map draggable="true" center='map.center' zoom='map.zoom' control="control">
    	<ui-gmap-markers models="markers" coords="'coords'" idKey="'idKey'">
		</ui-gmap-markers>
	</ui-gmap-google-map>
    
 
  </ion-content>
</ion-view>