<ion-view view-title="Share Information">
  <ion-content>
    <div class="list card">
      <br>
    <div class="sharepricefeed" align="center">12250 ZAR cents</div>
    </p>
    <p align="center">Change: 0.00
    (15 minute delayed feed)</p>

    <br><br>
     <div align="center">
     Zoom<br><br>
     <button class="button button-small">
      1D
    </button>
    <button class="button button-small">
      2H
    </button>
    <button class="button button-small">
      1H
    </button>
    </div>
    <highchart id="chart1" config="config"></highchart>
    <br/>
      </div>
  </ion-content>
</ion-view>
