<ion-view view-title="Share Information">
  <ion-content>
    <div class="list card">
      <strong>SHARE PRICE</strong>
    <div class="sharepricefeed">12250 ZAR cents</div>
    Change: 0.00
    (15 minute delayed feed)
    <br><br>
     <div align="center">
     Zoom<br><br>
     <button class="button button-small">
      1D
    </button>
    <button class="button button-small">
      2H
    </button>
    <button class="button button-small">
      1H
    </button>
    </div>
    <highchart id="chart1" config="config"></highchart>
    <br/>
      </div>
  </ion-content>
</ion-view>
